<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
	
	<insert id="insertCmt" parameterType="comment">
		<selectKey order="BEFORE" resultType="int" keyProperty="no">
			SELECT EMP_CMT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO FREEBOARD_CMT (NICKNAME,PW,TEXT,WRITEDATE,NO, FB_NO)
		VALUES (#{nickname},#{pw},#{text},SYSDATE,#{no}, #{fbNo})
	</insert>
	
	<select id="selectCmt" resultType="comment" parameterType="int">
		SELECT * FROM FREEBOARD_CMT WHERE FB_NO =#{fbNo} ORDER BY WRITEDATE DESC
	</select>
	
	<update id="updateCmt">
		UPDATE FREEBOARD_CMT SET 
	</update>
	
	<delete id="deleteCmt">
	
	</delete>
</mapper>