<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hospital">
	<insert id="insertOne">
		INSERT INTO	hospital_list
		VALUES
			(#{no}, #{bsn_nm}, #{road_nm_addr}, #{rep_person}, #{tel_no}, #{lat}, #{lot})
	</insert>
	
	<select id="findDataByNo" resultType="hospital">
		SELECT * FROM HOSPITAL_LIST WHERE NO = #{no}
	</select>
	
	<insert id="insertReview">
		INSERT INTO	HOSPITAL_REVIEW 
		VALUES
			(HR_SEQ.NEXTVAL,)
	</insert>
</mapper>