<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- jdbc CamelCase 변환 파라메터 NULL 존재시 varchar변환 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="VARCHAR" />
	</settings>
	<!-- Vo클래스 별칭지정 -->
	<typeAliases>
		<typeAlias type="com.happypet.animal.Entity.AnimalVo"
			alias="animalVo" />
		<typeAlias type="com.happypet.animal.Entity.AnimalReviewVo"
			alias="AnimalReviewVo" />
		<typeAlias
			type="com.happypet.animal.Entity.MarketEntity.MarketVo"
			alias="marketVo" />
		<typeAlias
			type="com.happypet.animal.Entity.MarketEntity.MarketFileVo"
			alias="marketFileVo" />
		<typeAlias
			type="com.happypet.animal.Entity.MarketEntity.ConbineMarket"
			alias="ConbineMarketVo" />
		<typeAlias type="com.happypet.animal.Entity.AccountVo"
			alias="accountVo" />
		<typeAlias type="com.happypet.animal.Entity.HospitalVo"
			alias="hospitalVo" />
		<typeAlias
			type="com.happypet.animal.Entity.HospitalReviewVo" alias="hospitalReviewVo" />
		<typeAlias
			type="com.happypet.animal.Entity.HospitalReviewCommentVo" alias="hospitalReviewCommentVo" />
		<typeAlias
			type="com.happypet.animal.Entity.FileDataVo" alias="fileDataVo" />
	</typeAliases>
</configuration> 
